{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/files/sort-list.css"/>
<script src="/files/sort-list.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        slist(document.getElementById("sortlist"));
    });
    async function submit() {
    	let list = document.getElementById("sortlist").getElementsByTagName("li")
    	let ballot = []
    	for (let i of list) {
    		ballot.push(i.textContent)
    	}
        await fetch(window.location.pathname+"/vote", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        data: JSON.stringify(ballot)
            
        })
    	location.reload()
    }
</script>
{% endblock %}
{% block title %}ballot{% endblock %}
{% block content %}
    <div class="container">
	    <h1>please drag the candidates into your preffered order </h1> 
	    <p>with the candidate on top being the candidate you most want to win at the top and the one you least want to win on the bottom</p>
        <ul id="sortlist">
            {% for candidate in ballot.election.candidates %}
            <li id="{{ candidate }}">{{ candidate }}</li>
            {% endfor %}
        </ul>
	<button onclick="submit()">Vote!</button>
    </div>
{% endblock %}
