{% extends "base.html" %}
{% block head%}
{{ super() }}
<script>
	
    async function submit() {
		await fetch(window.location.pathname + "/close", {
			method: 'POST'
		});
		location.reload()
    }
</script>
{% endblock %}
{% block title %}{{ election.name }}{% endblock %}
{% block content %}
<div class="container">
	<h1>Welcome to the control panel for {{ election.name }} </h1>
	<table style="width:100%">
		<tr>
			<td>Name: </td>
			<td>{{ election.name }}</td>
		</tr>
		<tr>
			<td>Owner Name: </td>
			<td>{{ election.owner.username }}</td>
		</tr>
		<tr>
			<td>Election Type: </td>
			<td>{{ election.election_type }}</td>
		</tr>
		<tr>
			<td>Num. Seats:</td>
			<td>{{ election.available_seats }}</td>
		</tr>
		<tr>
			<td>Candidates:</td>
			<td>
				<ul>
					{% for candidate in election.candidates %}
					<li>{{ candidate }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		
		<tr>
			<td>Ballot's cast: </td>
			<td>{{ election.get_num_ballots_cast() }}/{{ election.ballots|length }} {{ election.get_percent_ballots_cast() }}%</td>
		</tr>
		
		{% if election.closed%}
		<tr>
			<th><br>Results:</th>
		</tr>
		<tr>
			<td>Winner(s): </td>
			<td>
				<ul>
					{% for winner in results["winners"] %}
					<li>{{ winner }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>Quota: </td>
			<td>{{ results["quota"] }}</td>
		</tr>
		{% for round in results["rounds"]%}
		<tr>
			<th><br>Round {{ loop.index }} tallies:</th>
		</tr>
		{% for Candidate, Tally in round["tallies"].items()%}
		<tr>
			<td>{{ Candidate }}</td>
			<td>{{ Tally }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td> Winner(s) at round end: </td>
			<td>
				<ul>
					{% for winner in round["winners"] %}
					<li>{{ winner }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		{% endfor %}

	</table>
		{% else %}
	</table>
		
	<button onclick="submit()">Close this election and view results</button>
		{% endif %}



</div>
{% endblock %}
