{% extends "base.html" %}
{% block title %} home {% endblock %}
{% block content %}
    <h1> Welcome </h1>
    <p>
        This is a WIP site designed to manage elections online.<br/>
        As of right now we only support STV but we plan on supporting FPTP and other election systems in the near future.<br/>
        We plan to have a full release late July 2022.<br/>
        But for now feel free to use our site!<br/>
        go to https://em.qwrky.dev/register to get started<br/>
    </p>
{% endblock %}
